@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

$base-white-color: #ffffff;
$bg-green-color: #68b738;
$base-black-color: #444444;
$bg-grey-color: #f2f2f2;
