@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

$base-white-color: #ffffff;
$bg-green-color: #68b738;
$bg-dark-green: #5eaa2f;
$base-middle-grey: #666666;
$base-black-color: #444444;
$base-light-black: #222222;
$special-black-color: #111111;
$black-color: #000000;
$bg-grey-color: #f2f2f2;
$bg-dark-grey: #cdcdcd;
$bg-light-grey: #ebebeb;
$special-grey: #e6e6e6;
$special-border-grey: #e7e7e7;
$light-border-grey: #d9d9d9;


$tablet-width: 768px;
$desktop-width: 1440px;
