.additional-products__main-title {
  margin-top: 25px;
  margin-bottom: 36px;
  display: flex;
  gap: 20px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;


  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.additional-products__main-title::after, .additional-products__main-title::before {
  content: "";
  display: block;
  height: 2px;
  margin-top: 12px;
  background-color: $bg-green-color;


  @media (min-width: $tablet-width) {
    margin-top: 22px;
  }
}

.additional-products__main-title::before {
  flex-shrink: 0;
  width: calc(50% - 280px/2 - 20px);


  @media (min-width: $tablet-width) {
    width: calc(50% - 708px/2 - 20px);
  }


  @media (min-width: $desktop-width) {
    width: calc(50% - 1220px/2 - 20px);
  }
}

.additional-products__main-title::after {
  flex-grow: 1;


  @media (min-width: $tablet-width) {
    min-width: calc(50% - 708px/2 - 20px);
  }

  @media (min-width: $desktop-width) {
    min-width: calc(50% - 1220px/2 - 20px);
  }
}

.additional-products__container {
  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 87px;
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
  }
}

.additional-products__list {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  list-style: none;


  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }


  @media (min-width: $desktop-width) {
    width: 895px;
    margin: 0;
    padding: 0;
  }
}

.additional-products__item {
  padding-top: 13px;
  padding-bottom: 19px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #cdcdcd;


  @media (min-width: $tablet-width) {
    padding: 26px 38px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
  }


  @media (min-width: $desktop-width) {
    padding: 15px 0;
    display: grid;
    grid-template-columns: 325px 325px 244px;
    align-items: center;
    border-right: none;
    border-left: none;
  }
}

.additional-products__item:first-child {
  border-top: 1px solid #cdcdcd;


  @media (min-width: $tablet-width) {
    padding: 26px 38px;
    border-top: 1px solid #cdcdcd;
  }


  @media (min-width: $desktop-width) {
    padding: 15px 0;
  }
}

.additional-products__title {
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;


  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    font-size: 20px;
    line-height: 20px;
  }


  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.additional-products__description-list {
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  line-height: 14px;
  color: $base-black-color;


  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 91px;
    justify-content: end;
    justify-self: end;
    grid-column: 2/3;
    font-size: 16px;
    line-height: 20px;
  }


  @media (min-width: $desktop-width) {
    width: 285px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
}

.additional-products__button--to-card {
  @media (min-width: $tablet-width) {
    grid-column: 1/3;
    font-size: 16px;
    line-height: 20px;
  }


  @media (min-width: $desktop-width) {
    grid-column: 3/4;
  }
}

.additional-products__button--to-card:hover {
  background-color: #5eaa2f;
}

.additional-products__button--to-card:active {
  color: rgb(255, 255, 255, 30%);
}
