.additional-products__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
}

.additional-products__description-list {
  text-align: center;
  line-height: 14px;
  color: $base-black-color;
}
