.button {
  padding: 10px 44px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  background-color: $bg-green-color;
  color: $base-white-color;
  cursor: pointer;
}

.button-burger {
  position: absolute;
  top: -37px;
  right: 0;
  width: 24px;
  height: 24px;
  background-image: url("../../images/icons/stack.svg#icon-burger-button");
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-close {
  position: absolute;
  top: -34px;
  right: 0;
  width: 19px;
  height: 19px;
  background-image: url("../../images/icons/stack.svg#icon-cross");
  background-color: transparent;
  border: none;
  cursor: pointer;
}

