.main-footer__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.main-footer__adress {
  font-style: normal;
  line-height: 20px;
}

.main-footer__container {
  background-color: $bg-grey-color;
}

.main-footer__info-container {
  background-color: $bg-grey-color;
}